services:
  postgres:
    image: postgres:18-alpine
    volumes:
      - ${DOCKER_DATA_DIR}/dockhand/db:/var/lib/postgresql/data
    labels:
      - wud.tag.include=^\d+\.\d+\.\d+$
  dockhand:
    image: fnsys/dockhand:v1.0.14
    ports:
      - 3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_DATA_DIR}/dockhand/data:/app/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dockhand.rule=Host(`dockhand.${BASE_DOMAIN}`)"
      - "traefik.http.services.dockhand.loadbalancer.server.port=8080"
      - "traefik.http.routers.dockhand.entrypoints=websecure"
      - "traefik.http.routers.dockhand.tls=true"
      - "traefik.http.routers.dockhand.tls.certResolver=cf"
      - "traefik.http.routers.dockhand.middlewares=error-pages-middleware"
      - wud.tag.include=^\d+\.\d+\.\d+$
    depends_on:
      - postgres
networks:
  default:
    name: internal
    external: true
