# base docker volume path
export DOCKER_DATA_DIR="$(expand_path ~/docker/data)"
export DOCO_COMPOSE_FILE="$(expand_path .doco-cd/docker-compose.yaml)"
export SOPS_AGE_KEY_FILE="$(expand_path ./sops_age_key.txt)"
export APPRISE_NOTIFY_URLS_FILE="$(expand_path ./key_apprise)"
export API_SECRET_FILE="$(expand_path ./key_api)"
export WEBHOOK_SECRET_FILE="$(expand_path ./key_webhook)"
export SSH_PRIVATE_KEY_FILE="$(expand_path ~/.ssh/id_ed25519)"