services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.2
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    labels:
      - wud.tag.include=^\d+\.\d+\.\d+$$
    restart: on-failure
