services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.2
    container_name: cloudflared
    restart: on-failure
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    labels:
      - wud.tag.include=^\d+\.\d+\.\d+$$
