services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.2
    container_name: cloudflared
    restart: on-failure
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    labels:
      - wud.tag.include=^\d+\.\d+\.\d+$$
      - homepage.group=Core
      - homepage.name=CloudFlared
      - homepage.icon=cloudflare.png
      - homepage.widget.type=cloudflared
      - homepage.widget.tunnelid=${TUNNEL_ID}
      - homepage.widget.accountid=${ACCOUNT_ID}
      - homepage.widget.key=${CF_KEY_TOKEN}
