x-healthcheck: &healthcheck
  test: ["CMD", "cloudflared", "tunnel", "--metrics", "localhost:8080", "ready"]
  interval: 30s
  timeout: 30s
  retries: 3
  start_period: 30s

services:
  cloudflared:
    image: cloudflare/cloudflared:2026.2.0
    container_name: cloudflared
    restart: on-failure
    command: tunnel --no-autoupdate --metrics 127.0.0.1:8080 run --token ${TUNNEL_TOKEN}
    networks:
      - network_internal
    ports:
      # metrics
      - "8080" 
    healthcheck: *healthcheck
    labels:
      - wud.tag.include=^\d+\.\d+\.\d+$$
      - homepage.group=Networking
      - homepage.name=CloudFlared
      - homepage.icon=cloudflare.png
      - homepage.widget.type=cloudflared
      - homepage.widget.tunnelid=${TUNNEL_ID}
      - homepage.widget.accountid=${ACCOUNT_ID}
      - homepage.widget.key=${CF_KEY_TOKEN}
networks:
  network_internal:
    external: true
  internal:
    driver: bridge
